<%- include('headerin'); -%>
<div class="tablecontain">
  <div class="leadtop">
  <h1 class="lb">Leaderboard</h1>
  <% if (locals.success==='true') { %>
   <h1 class="lb" style="color:green">Attack Successful!</h1>
  <% } else if (locals.success==='false') { %>
    <h1 class="lb" style="color:red">Attack Unsuccessful!</h1>
  <% }else if (locals.success==='no') {%>
    <h1 class="lb" style="color:red">You can't attack the target</h1>
  <% } %>
  </div>
<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Flag Points</th>
    <% if (locals.team.dpVisible===true) { %>
     <th>DP</th>
    <% } %>
    <th></th>
  </tr>
  <% locals.allteams.forEach( function (element){ %> <% if
  ((element._id).toString()===(locals.team._id).toString()) { %>
  <tr <% if (allteams.indexOf(element)%2!=0) { %>
      style="background-color:#3C3838" <% }else{ %>
      style="background-color:#191919" <% }%>>
    <td><%- allteams.indexOf(element)+1 %></td>
    <td style="color:red">You</td>
    <td><%- element.fp %></td>
        <% if (locals.team.dpVisible===true) { %>
        <td><%- element.dp %></td>
        <% } %>
    <td></td>
  </tr>
  <% }else{ %>
  <tr <% if (allteams.indexOf(element)%2!=0) { %>
      style="background-color:#3C3838" <% }else{ %>
      style="background-color:#191919" <% }%> >
    <td><%- allteams.indexOf(element)+1 %></td>
    <td><%- element.name %></th>
    <td><%- element.fp %></td>
            <% if (locals.team.dpVisible===true) { %>
            <td><%- element.dp %></td>
            <% } %>
    <% if (element.shield===false&&element.defenseCooldown===0&&locals.team.attackCooldown===0){ %>
    <td class='atkcol'>
      <span class='atkbtn att<%- allteams.indexOf(element) %>' onclick="openModal('<%- allteams.indexOf(element) %>')">Attack</span>
    </td>
    <% }else{ %>
      <td>
         </td>
    <% } %>
  </tr>
  <% }}) %>
</table>
</div>
<% locals.allteams.forEach( function (element){ %> <% if
(((element._id).toString()!==(locals.team._id).toString()) && element.shield===false&&element.defenseCooldown===0&&locals.team.attackCooldown===0){ %>
<div id="pop<%= allteams.indexOf(element) %>" class="mymodal">
      <h1 data-name="<%= element.name %>">
      </h1>
  <div class="twodivs">
  <div class="inventory">
    <h1 class="inv">Inventory</h1>
    <div class="row">
    <div class="soldiers inventroop">
      <p>Soliders</p>
      <p><%= locals.team.troops.soldiers %> </p>
      <img src="/images/soldier.svg" alt="soldier">
      </div>
    <div class="aircrafts inventroop">
      <p>Bombers</p>
      <p><%= locals.team.troops.aircrafts %></p>
      <img src="/images/bomber.svg" alt="bomber">
      </div>
      <div class="tanks inventroop">
        <p>Tanks</p>
        <p><%= locals.team.troops.tanks %></p>
      <img src="/images/tank.svg" alt="tank">

        </div>
      </div>
      </div>
  <div class="deploy">
  <form action="/attack" method="POST" class="attack">
    <h1 class="dep">Deploy</h1>
    <p class="close" onclick="closeModal('<%= allteams.indexOf(element) %>')">&#10060;</p>

      <input
        type="hidden"
        value="<%= element.name %>"
        name="defender"
        readonly
      />

    <div class="inputz">

    <div class="number-input">

      <button
        type="button"
        onclick="this.parentNode.querySelector('input[type=number').stepDown()"
      ></button>
      <div class="middle">
      <h3>Soldiers</h3>
      <input
        class="quantity soldier"
        min="0"
        name="soldier"
        value="0"
        type="number"
        max="<%= locals.team.troops.soldiers %>"
      />
      </div>
      <button
        type="button"
        onclick="this.parentNode.querySelector('input[type=number').stepUp()"
        class="plus"
      ></button>
    </div>
    <div class="number-input">
      <button
        type="button"
        onclick="this.parentNode.querySelector('input[type=number').stepDown()"
      ></button>
      <div class="middle">
      <h3>Bombers</h3>
      <input
        class="quantity aircraft"
        min="0"
        name="aircraft"
        value="0"
        type="number"
        max="<%= locals.team.troops.aircrafts %>"
      />
      </div>
      <button
        type="button"
        onclick="this.parentNode.querySelector('input[type=number').stepUp()"
        class="plus"
      ></button>
    </div>
    <div class="number-input">
      <button
        type="button"
        onclick="this.parentNode.querySelector('input[type=number').stepDown()"
      ></button>
      <div class="middle">
        <h3 style="text-align: center ;">Tanks</h3>
      <input
        class="quantity tank"
        min="0"
        name="tank"
        value="0"
        type="number"
        max="<%= locals.team.troops.tanks %>"
      />
      </div>
      <button
        type="button"
        onclick="this.parentNode.querySelector('input[type=number').stepUp()"
        class="plus"
      ></button>
    </div>
    </div>
    <input type="submit" value="Confirm" />
  </form>
  </div>
  </div>
</div>
<% }}) %>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
></script>
<script src="/js/cta.min.js"></script>
<script src="/js/tw.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script type="text/javascript">
    ScrollReveal({
      reset:true,
    }).reveal('tr',{
      delay:50,
    });

  $(document).ready(function () {
    $('.inv').hide()
    $('.dep').hide()
    $('.inputz').hide()
  });

  function openModal(school) {
    $(".mymodal").each(function () {
      $(this).css({ display: "none" });
    });
      var e1 = document.querySelector('.'+'att'+school),
      e2 = document.getElementById('pop'+school);
    cta(e1, e2,{duration: 0.5, targetShowDuration:0.5, relativeToWindow:true},function (e2) {
    e2.style.display = "block";
      $('#'+$(e2).attr('id')+' .inv').fadeIn(500)
      $('#' + $(e2).attr('id') + ' .dep').fadeIn(500)
      $('#' + $(e2).attr('id') + ' .inputz').fadeIn(500)
    var defSelect='#'+$(e2).attr('id') + ' > h1';
        $(defSelect).typewrite({
        actions: [
          {type: 'Attacking '+ $(defSelect).attr('data-name')},
        ],
        speed:20,
        cursor:"|"
      });
  //  $(invSelect).typewrite({
  //     actions: [
  //       {type: 'Inventory'},
  //     ],
  //     speed: 20,
  //     showCursor:false
  //   });
  //     $(depSelect).typewrite({
  //       actions: [
  //         {type: 'Deploy'},
  //       ],
  //       speed: 12,
  //       showCursor: false
  //     });
    });
  }
  function closeModal(school) {
    $(".mymodal").each(function () {
      $(this).css({ display: "none" });
    });
  }

</script>
<%- include('footer'); -%>
