<%- include('headerin'); -%>
<div id="questionz">
  <h1 class="heading">Questions</h1>
  <div class="questions">
    <% locals.questions.forEach( function (element){ %>
    <div <% if (locals.team.questions.includes(element.title)) { %>
      style="background:#9D1111;cursor:default" <% }else{ %>
      onclick="openModal('<%- element.title %>')"<% }%> class="question" >
      <div class="qcontent">
        <p><%- element.title %></p>
        <p><%- element.points %></p>
      </div>
    </div>
    <% }) %> <% locals.questions.forEach( function (element){ %> <% if
    (!locals.team.questions.includes(element.title)) { %>
    <div id="<%- element.title %>" class="qmodal">
      <form action="/answer" method="POST">
        <p class="close" onclick="closeModal('<%= element.title %>')">
          &#10060;
        </p>
        <div class="qinfo">
          <p>
            <input
              type="hidden"
              value="<%= element.title%>"
              name="title"
              class="defender"
              readonly
            />
          </p>
          <p class="qhead"><%- element.title %></p>
          <p class="qtext"><%- element.question %></p>
          <% if (element.attachment!=""){ %>
          <a
            class="attacher"
            href="/questionfiles/<%-(element.attachment)%>"
            download="<%- element.attachment %>"
            target="_blank"
          >
            <%- element.attachment %>
          </a>
          <% } %>
          <div class="sidebyside">
            <input type="text" name="ans" />
            <button>Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <% } }) %>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    defer
  ></script>

  <script>
    function openModal(id) {
      $(".qmodal").each(function () {
        $(this).css({ display: "none" });
      });
      document.getElementById(id).style.display = "block";
    }
    function closeModal(id) {
      document.getElementById(id).style.display = "none";
    }
  </script>
  <%- include('footer'); -%>
</div>
